*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

#header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    flex: 0 0 auto;
    background: #f5f5f5;
}

#banner{
    flex: 1 0 auto;
}

nav ul{
    list-style-type: none;
    display: none;
}

nav>ul>li a, .mega-menu li a{
    display: block;
    color: #2b98f0;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    transition: color 0.5s ease, background 0.5s ease, padding 0.5s ease;
    cursor: pointer;
}

.mega-menu{
    flex-direction: column;
    display: none;
}

.mega-menu li a{
    padding-left: 60px;
}


nav ul li a:hover{
    color: #f5f5f5;
    padding-left: 30px;
    background: #2b98f0;
}

.mega-menu li a:hover{
    color: #f5f5f5;
    padding-left: 80px;
}

nav ul li:hover .mega-menu{
    display: flex;
}

#nav-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
}

#nav-top h3{
    font-size: 30px;
    padding: 5px;
    color: #2b98f0;
    border: 3px solid;
    transition: color 2s ease, background 2s ease;
    cursor: pointer;
}

#nav-top h3:hover{
    background: #2b98f0;
    color: #f5f5f5;
}

#menu-btn{
    padding: 5px;
    border: 2px solid #2b98f0;
    cursor: pointer;
    align-self: center;
}

.bar1,
.bar2,
.bar3{
    height: 5px;
    width: 35px;
    background-color: #2b98f0;
    margin: 5px 0;
    transition: transform 1s ease;
}

.turn .bar1{
    transform: rotate(-45deg) translate(-7px, 6px);
}

.turn .bar2{
    opacity: 0;
}

.turn .bar3{
    transform: rotate(45deg) translate(-7px, -8px);
}

.sign a{
    color: #000;
    background: #83E03D;
    border: 3px solid #E7E92A;
}
@media screen and (min-width: 414px){
    nav{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        position: relative;
        padding: 0;
    }

    #nav-top h3{
        font-size: 30px;
        padding: 5px;
        margin: 5px;
        color: #2b98f0;
        border: 3px solid;
        transition: color 2s ease, background 2s ease;
        cursor: pointer;
    }

    #menu-btn{
        display: none;
    }

    nav>ul{
        flex: 1 1 auto;
        display: flex!important;
        flex-wrap: wrap;
    }

    nav>ul>li{
        flex: 1 0 125px;
        padding: 5px
    }

    nav>ul a{
        text-align: center;
    }

    nav>ul a:hover{
        padding: 10px!important;
    }

    #nav-top{
        padding: 0px;
    }

    .mega-menu{
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        background: white;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;

    }

    .mega-menu li{
        flex: 0 0 25%;
    }
    .mega-menu li a{
        height: 100%;
        text-align: center;
    }

    .mega-menu li a{
        padding: 10px;
    }
    .mega-menu li a:hover{
        padding-left: 10px;
    }

}

/*************************    Banner     **************************/
#banner{
    background-image: url(/img/header-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo{
    width: 100px;
}

.search-box input{
    padding: 7px 10px;
    width: 30%
}

.search-box button{
    padding: 7px 10px;
    font-size: 14px;
    color: #f5f5f5;
    background: #2b98f0;
    transition: all 0.5s ease;
}

.search-box button:hover{
    background: #f5f5f5;
    color: #2b98f0;
}

#banner-box{
    color: #f5f5f5;
    text-align: center;
}

#banner-title{
    text-transform: capitalize;
    font-size: 60px;
}

.banner-underline{
    width: 200px;
    margin: 10px auto;
    border: 3px solid black;
}

.banner-subtitle{
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 25px
}

#banner-box a{
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #f5f5f5;
    background: #2b98f0;
    border: 3px solid #2b98f0;
    transition: background 3s ease, border 0.5s ease;
}

#banner-box a:hover{
    background: transparent;
    border: 3px solid #f5f5f5;
}

/* ************************** Latest Mangas & Hot Mangas ********************************/
/*title*/
.title{
    margin: 10px 0 30px 0;
    cursor: pointer;
}

.title-text{
    font-size: 20px;
    text-transform: capitalize;
    color: #f5f5f5;
}

.title-underline{
    width: 20px;
    border: 3px solid #2b98f0;
    transition: width 2s ease, border 3s ease;
}

.title:hover .title-underline{
    width: 100px;
    border: 3px solid red;
}

/*latest manga & hot mangas*/
.image-box{
    width: 15rem;
    height: 25rem;
    display: block;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease;
}

#latest-manga{
    padding: 40px;
    background: url(/img/latest-manga-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#hot-manga{
    padding: 40px;
    background: url(/img/hot-manga-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.manga{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 25rem;
    border-radius: 10px;
    width: 15rem;
    margin: 20px auto;
    overflow: hidden;
}

.image-box:hover{
    opacity: 0.4;
}

.image-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin-bottom: -80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    background: #f5f5f5;
    color: #2b98f0;
    transition: margin 2s ease;
}

.manga:hover .image-overlay{
    margin-bottom: 0;
}

.image-overlay button{
    padding: 10px 20px;
    font-size: 15px;
    background: #ffd500;
    font-weight: bold;
    transition: all 1s;
}

.image-overlay button:hover{
    background: #000;
    color: #ffd500;
}

@media screen and (min-width: 414px) {
    .manga-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-text{
        font-size: 40px;
    }

    .title-underline{
        width: 60px;
    }

    .title:hover .title-underline{
        width: 200px;
        border 5px solid yellow;
    }

}

.read-more-btn{
    text-align: center;
    margin: 30px 0;
}

.read-more-btn button{
    padding: 10px 40px;
    font-size: 20px;
    background: #2b98f0;
    transition: background 1s;
}

.read-more-btn button a{
    text-decoration: none;
    color: #f5f5f5;
    transition: color 1s;
}

.read-more-btn button:hover{
    background: #000;
}

/******* end of latest manga and hot manga*********/

/****************** contact us *****************/
#contact-us{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,125,196,1) 0%, rgba(36,128,184,1) 47%, rgba(98,189,193,1) 89%, rgba(10,176,209,1) 100%);
    padding: 40px;
}

.contact-guidelines{
    color: #000;
    padding: 20px;
    background: #f5f5f5;
    text-align: center;
    max-width: 400px;
    height: 100%;
    margin: 20px auto;
    border-radius: 3%;
    box-shadow:
}

.contact-guidelines h1{
    margin-bottom: 20px;
}

.contact-form{
    background: #f5f5f5;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 3%;
}

.contact-form label{
    font-weight: bold;
}

.contact-form input{
    padding: 10px 5px;
    margin: 5px 0 20px 0;
}

.contact-form textarea{
    width: 100%;
    margin: 10px auto;
    border-radius: 2%;
}

.submit-btn{
    padding: 15px 30px;
    margin: 20px 0 0 0;
    border: 2px solid #36FFEC;
    background: #80F77C;
    font-size: 15px;
    font-weight: bold;
    transition: all 1s;
}

.submit-btn:hover{
    background: #2b98f0;
    color: #f5f5f5;
}

@media screen and (min-width: 414px) {
    .contact-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

}

/********** end of contact us */
/* ************************ about us *************************/
.avatar{
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 2px;
}

#about-us{
    padding: 40px;
    background: url(/img/about-us-background.jpg);
    color: #f5f5f5;
}

.admin-container{
    margin: 0 auto;

}

.admin1, .admin2{
    text-align: center;
    border-radius: 3%;
    max-width: 380px;
    margin: 30px auto;
    padding: 30px 20px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,195,183,1) 0%, rgba(99,205,164,1) 40%, rgba(98,189,193,1) 89%, rgba(63,212,160,1) 100%);
}

.icons{
    margin: 20px 0;
}
.icons .fa{
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: auto;
    transition: all 1s;
    opacity: 1;
}

.fa-facebook{
    background: #3b5998;
    color: #f5f5f5;
    transition: all 1s;
    border: 1px solid #3b5998;
}

.fa-facebook:hover{
    background: #f5f5f5;
    color: #3b5998;
}

.fa-google{
    background: #dd4b39;
    color: #f5f5f5;
    transition: all 1s;
    border: 1px solid #dd4b39;
}

.fa-google:hover{
    background: #f5f5f5;
    color: #dd4b39;
}

.fa-whatsapp{
    background: #25d366;
    color: #f5f5f5;
    transition: all 1s;
    border: 1px solid #25d366;
}

.fa-whatsapp:hover{
    background: #f5f5f5;
    color: #25d366;
}

@media screen and (min-width: 414px) {
    .admin-container{
        display: flex;
        flex-wrap: wrap;
    }
}

/************* footer *************/
footer{
    background: #FA6747;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

footer a{
    text-decoration: none;
    color: #f5f5f5;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
}
